---
name: Continuous Delivery

# yamllint disable-line rule:truthy
on:
  # yamllint disable-line rule:empty-values
  workflow_dispatch:

  # yamllint disable-line rule:empty-values
  pull_request:

  push:
    branches:
      - main

permissions: read-all

jobs:
  release-and-clean:
    if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
    name: Release the code & clean up
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}
      - name: Cleanup action status
        uses: ouzi-dev/commit-status-updater@v2
        with:
          status: "success"
          token: ${{ secrets.GITHUB_TOKEN }}
          name: "GithubActions - ${GITHUB_WORKFLOW}"
          ignoreForks: true
