---
name: TF Provider Releaser

# yamllint disable-line rule:truthy
on:
  workflow_call:
    secrets:
      gpg_release_key:
        required: true
      pat:
        required: true
      github-token:
        required: true

jobs:
  goreleaser:
    name: goreleaser
    runs-on: ubuntu-latest
    # trunk-ignore(checkov/CKV2_GHA_1)
    permissions:
      contents: write
      statuses: write
    env:
      GOPRIVATE: github.com/go-jlec
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}

      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup GO
        uses: actions/setup-go@v6
        with:
          cache: true
          go-version-file: "go.mod"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Setup OpenTOFU
        uses: opentofu/setup-opentofu@v1
      - name: Setup tfplugindocs
        run: go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest

      - name: Configure git credentials for private repositories
        run: "git config --global url.'https://jlec:${{ secrets.pat }}@github.com/'.insteadOf https://github.com/"
      - name: Configure git credentials for private repositories (alternative)
        run: "git config --global url.'https://jlec:${{ secrets.pat }}@github.com/'.insteadOf 'https://github.com/'"
      - name: Configure git to use https instead of git protocol
        run: "git config --global url.'https://'.insteadOf git://"
      - name: Configure git user name
        run: "git config --global user.name jlec"

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.gpg_release_key }}
      - name: Release GO code
        uses: goreleaser/goreleaser-action@v7
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.pat }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
      - name: Cleanup action status
        uses: ouzi-dev/commit-status-updater@v2
        with:
          status: "success"
          token: ${{ secrets.github-token }}
          name: "GithubActions - ${GITHUB_WORKFLOW}"
          ignoreForks: true
