---
name: CI Release

# yamllint disable-line rule:truthy
on:
  workflow_call:
    secrets:
      pat:
        required: false
      github-token:
        required: true
    inputs:
      artifacts:
        type: string
        required: false
        default: CHANGELOG.md
      licensed-files:
        type: string
        required: false
        default: LICENSE

jobs:
  ci-release:
    name: ci-release
    runs-on: ubuntu-latest
    # trunk-ignore(checkov/CKV2_GHA_1)
    permissions:
      pull-requests: write
      contents: write
    if: >-
      ${{ github.actor != 'dependabot[bot]' }} &&
      ${{ github.ref_name == 'main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.github-token }}
      - name: Update License year
        uses: FantasticFiasco/action-update-license-year@v3
        with:
          token: ${{ secrets.github-token }}
          assignees: jlec
          labels: license,year
          path: ${{ inputs.licensed-files }}
        id: license
      - name: Merge Year Bump PR
        if: steps.license.outputs.pullRequestNumber != ''
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
        run: >-
          gh pr merge --rebase
          --delete-branch ${{ steps.license.outputs.pullRequestNumber }}
      - name: Reset branch to main
        run: git checkout main && git reset --hard origin/main
      - name: Create bump and changelog
        id: cz
        uses: commitizen-tools/commitizen-action@0.26.0
        with:
          github_token: ${{ secrets.github-token }}
          increment: PATCH
          changelog_increment_filename: body.md

      - name: "Check file existence"
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: "galaxy.yml, meta/runtime.yml"

      - name: Build Ansible Collection
        uses: artis3n/ansible_galaxy_collection@v2
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          api_key: "FAKE_KEY"
          publish: false

      - name: Release on Github w/ files
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ inputs.artifacts }}
          body_path: "body.md"
          tag_name: ${{ env.REVISION }}
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}

      - name: Print Version
        run: echo "Bumped to version ${{ steps.cz.outputs.version }}"
